@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- Option 1: Include in HTML -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
@await Component.InvokeAsync("_CustomerHeaderLayoutPartial")

<body class="nav-md footer_fixed">
	
	<div class="container body">
		<div class="main_container">
			@await Component.InvokeAsync("_CustomerLayoutSidebarPartial")

			@await Component.InvokeAsync("_CustomerLayoutNavbarPartial")

			<div class="" role="main">
				<h2>@RenderBody()</h2>
			</div>
			@await Component.InvokeAsync("_CustomerLayoutFooterPartial")
		</div>
	</div>

	@await Component.InvokeAsync("_CustomerLayoutScriptPartial")
</body>
</html>